<section>
  <br>

  <div class="card bg-light mb-3">
    <div class=" card-header ">
      <div class="row">
        <div class="col-md-10">
          <h4 class="card-title ">Product List</h4>


        </div>
        <div class="col-md-2">
          <button class="btn btn-info align-right" routerLink="/product/create">Add new </button>


        </div>

      </div>


    </div>
    <div class="card-body ">


      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>#</th>
            <th>image</th>
            <th>name</th>
            <th>price</th>
            <th>quantity</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsData ">
            <td>{{product.id}}</td>
            <td>{{product.image}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>
              <button class="btn btn-info ">details</button>
              <button class="btn btn-warning  ">edit</button>

              <ng-template #popTemplate>
                Are You sure To delete?
                <button class="btn btn-sm btn-danger">ok</button>
                <button class="btn btn-sm btn-success">cancel</button>


              </ng-template>
              <button type="button" class="btn btn-danger" [popover]="popTemplate" popoverTitle="Confirm Delete" [outsideClick]='true'>


                TemplateRef binding
              </button>



            </td>

          </tr>
        </tbody>
      </table>


    </div>
  </div>




</section>
